body {
	background: #348E2E url("http://noisepng.com/100-70-4.png");
	font-family: "Helvetica Neue";
	font-size: 17px;
	font-weight: bold;
	color: #f2fff1;
	text-shadow: 0 -2px rgba(0,0,0,.25);
}
.logo {
	background: url("../img/dictate.png");
	width: 317px;
	height: 68px;
	margin-bottom: 10px;
}
textarea {
	width: 100%;
	height: 700px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 7px;
	background-color: #e1fadf;
	-webkit-box-shadow: 0 1px rgba(255,255,255,.3), inset 0 2px rgba(0,0,0,.08);
	-moz-box-shadow: 0 1px rgba(255,255,255,.3), inset 0 2px rgba(0,0,0,.08);
	box-shadow: 0 1px rgba(255,255,255,.3), inset 0 2px rgba(0,0,0,.08);
	border: solid 1px #1d7617;
	outline: none;
	font-size: 18px;
	padding: 10px;
	line-height: 25px;
	color: #505050;
	resize:vertical;
}
.button {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #f2fff1;
	-webkit-box-shadow: 0 2px rgba(0,0,0,.12), inset 0 1px rgba(255,255,255,.29);
	-moz-box-shadow: 0 2px rgba(0,0,0,.12), inset 0 1px rgba(255,255,255,.29);
	box-shadow: 0 2px rgba(0,0,0,.12), inset 0 1px rgba(255,255,255,.29);
	border: solid 1px #095804;
	background-image: -webkit-linear-gradient(bottom, #348e2e, #45aa3e);
	background-image: -moz-linear-gradient(bottom, #348e2e, #45aa3e);
	background-image: -o-linear-gradient(bottom, #348e2e, #45aa3e);
	background-image: -ms-linear-gradient(bottom, #348e2e, #45aa3e);
	background-image: linear-gradient(to top, #348e2e, #45aa3e);
	margin:5px;
	font-size:24px;
	line-height: 55px;
	text-align: center;
	cursor:pointer;
}
.button:hover {
	background-image: -webkit-linear-gradient(bottom, #348e2e, #57be50);
	background-image: -moz-linear-gradient(bottom, #348e2e, #57be50);
	background-image: -o-linear-gradient(bottom, #348e2e, #57be50);
	background-image: -ms-linear-gradient(bottom, #348e2e, #57be50);
	background-image: linear-gradient(to top, #348e2e, #57be50);
}
.button:active {
	background-image: -webkit-linear-gradient(bottom, #348e2e, #3c9b35);
	background-image: -moz-linear-gradient(bottom, #348e2e, #3c9b35);
	background-image: -o-linear-gradient(bottom, #348e2e, #3c9b35);
	background-image: -ms-linear-gradient(bottom, #348e2e, #3c9b35);
	background-image: linear-gradient(to top, #348e2e, #3c9b35);
}
.button.large {
	float:left;
	width: 163px;
	height: 55px;

}
.button.small {
	float: right;
	width: 59px;
	height: 55px;

}
.button.full {
	width: 135px;
	height: 55px;
	margin-left:0px;
	float:left;
}
.twitter {
	background: url("../img/twitter.png") no-repeat;
	width: 39x;
	height: 33px;
	margin-top:12px;
	margin-left:12px;

}
.facebook {
	background: url("../img/facebook.png") no-repeat;
	width: 19px;
	height: 38px;
	margin-top:10px;
	margin-left:18px;
}
.about {
	background: url("../img/about.png") no-repeat;
	width: 24px;
	height: 38px;
	margin-top:10px;
	margin-left:17px;

}
.download {
	background: url("../img/download.png") no-repeat;
	width: 49px;
	height: 35px;
	margin-top:10px;
	margin-left:7px;
	float:left;
}
.mic {
	background: url("../img/mic.png") no-repeat;
	width: 22px;
	height: 38px;
	margin-top:10px;
	margin-left:13px;
	margin-right:9px;
	float:left;

}
#input {
	-webkit-transform: scale(8.0, 3.0);
	width: 17px;
	height: 19px;
	margin-left:-67px;
	margin-top:20px;
	padding: 0;
	outline: 0;
	border: 0;
	background-color: transparent;
	opacity: 0.001;
	z-index: 9999;
	position: absolute;
}
